{% extends 'layout.html' %}

{% block title %}Messages{% endblock %}

{% block content %}

<div class="container" id="app">
  <ol class="breadcrumb">
    <li>浏览信息</li>
  </ol>
  <table id="JS-books-table" class="table table-bordered">
    <colgroup>
      <col width="10%"/>
      <col width="30%"/>
      <col width="20%"/>
      <col width="20%"/>

    </colgroup>
    <thead>
    <tr>
      <th>图书ID</th>
      <th>书名</th>
      <th>国书编号</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>



{% endblock %}